@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido/a</h1>
    <br />
    <h2>App de gestión de personal</h2>
    <br />
    <a asp-controller="Personas" asp-action="Index" >
        <img id="imagen-index-home" src="~/images/personas.jpg" width="750px" height="256px"/>
    </a>
</div>
