@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
    <a asp-controller="Manual" asp-action="Volver" >
        <img src="~/images/flecha-izquierda-modified.png" width="50px" height="50px" alt="flecha" />
    </a>
</div>
