@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-manual">
    <h2>Servicios de la aplicación</h2>
    <br />
    <iframe width="748" height="399" src="https://www.youtube.com/embed/MI0neGzRzw4" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
    clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
</div>

