@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Directivos/as</h1>
    <br />
    <h2>Información de los Directivos/as</h2>
    <br />
    <img id="imagen-index-directivos" src="~/images/directivos.jpg" />
    <br /><br />
    <a class="margen-flecha"  asp-controller="Manual" asp-action="Volver" >
        <img src="~/images/flecha-izquierda-modified.png" width="50px" height="50px" alt="flecha" />
    </a>
    <a class="btn btn-success" asp-controller="Directivos" asp-action="Ver">Acceder</a>
    
</div>
