@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Directivos/as</h1>
    <br />
    <h2>Datos</h2>
    <br />
    <table width="100%">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cargo</th>
        </tr>
    </table>
   
</div>
